# This is the highest level config
root = true

# Default settings
[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

# Git commit messages
[COMMIT_EDITMSG]
max_line_length = 72

# Git merge messages
[MERGE_MSG]
max_line_length = 72

# Git tag messages
[TAG_EDITMSG]
max_line_length = 72

# Terraform files
[*.tf]
max_line_length = unset

[*.tftpl]
max_line_length = unset

# Markdown files
[*.md]
max_line_length = unset

# YAML files
[*.yml]
max_line_length = 160

# YAML files
[*.yaml]
max_line_length = 160

# json files
[*.json]
max_line_length = unset

# Shell scripts
[*.sh]
indent_style = space
indent_size = 4
shell_variant = bash
binary_next_line = true
switch_case_indent = true
space_redirects = false
keep_padding = false
function_next_line = false

# Should be kept same as *.sh above
[scripts/*]
indent_style = space
indent_size = 4
shell_variant = bash
binary_next_line = true
switch_case_indent = true
space_redirects = false
keep_padding = false
function_next_line = false

# github workflow files
[.github/workflows/*.yml]
max_line_length = unset

# github action files
[.github/actions/*/action.yml]
max_line_length = unset
